In [1]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv('data/movie.csv')
type(movies)

pandas.core.frame.DataFrame

In [3]:
#열 접근
columns = movies.columns
#list(columns)
pd.Series(columns)

0                         color
1                 director_name
2        num_critic_for_reviews
3                      duration
4       director_facebook_likes
5        actor_3_facebook_likes
6                  actor_2_name
7        actor_1_facebook_likes
8                         gross
9                        genres
10                 actor_1_name
11                  movie_title
12              num_voted_users
13    cast_total_facebook_likes
14                 actor_3_name
15         facenumber_in_poster
16                plot_keywords
17              movie_imdb_link
18         num_user_for_reviews
19                     language
20                      country
21               content_rating
22                       budget
23                   title_year
24       actor_2_facebook_likes
25                   imdb_score
26                 aspect_ratio
27         movie_facebook_likes
dtype: object

In [4]:
#데이터 접근
data = movies.to_numpy()
data

array([['Color', 'James Cameron', 723.0, ..., 7.9, 1.78, 33000],
       ['Color', 'Gore Verbinski', 302.0, ..., 7.1, 2.35, 0],
       ['Color', 'Sam Mendes', 602.0, ..., 6.8, 2.35, 85000],
       ...,
       ['Color', 'Benjamin Roberds', 13.0, ..., 6.3, nan, 16],
       ['Color', 'Daniel Hsia', 14.0, ..., 6.3, 2.35, 660],
       ['Color', 'Jon Gunn', 43.0, ..., 6.6, 1.85, 456]], dtype=object)

In [5]:
#컬럼 타입 알아보기
movies.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [6]:
movies.director_name

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [7]:
type(movies.director_name)

pandas.core.series.Series

In [8]:
director = movies.director_name
fb_likes = movies.actor_1_facebook_likes

In [9]:
director.sample(3, random_state=42)

2347    Brian Percival
4687       Lucio Fulci
691      Phillip Noyce
Name: director_name, dtype: object

In [10]:
movies.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4867.000000,4901.000000,4814.000000,4893.000000,4909.000000,4.054000e+03,4.916000e+03,4916.000000,4903.000000,4895.000000,4.432000e+03,4810.000000,4903.000000,4916.000000,4590.000000,4916.000000
mean,137.988905,107.090798,691.014541,631.276313,6494.488491,4.764451e+07,8.264492e+04,9579.815907,1.377320,267.668846,3.654749e+07,2002.447609,1621.923516,6.437429,2.222349,7348.294142
std,120.239379,25.286015,2832.954125,1625.874802,15106.986884,6.737255e+07,1.383222e+05,18164.316990,2.023826,372.934839,1.002427e+08,12.453977,4011.299523,1.127802,1.402940,19206.016458
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,49.000000,93.000000,7.000000,132.000000,607.000000,5.019656e+06,8.361750e+03,1394.750000,0.000000,64.000000,6.000000e+06,1999.000000,277.000000,5.800000,1.850000,0.000000
50%,108.000000,103.000000,48.000000,366.000000,982.000000,2.504396e+07,3.313250e+04,3049.000000,1.000000,153.000000,1.985000e+07,2005.000000,593.000000,6.600000,2.350000,159.000000
75%,191.000000,118.000000,189.750000,633.000000,11000.000000,6.110841e+07,9.377275e+04,13616.750000,2.000000,320.500000,4.300000e+07,2011.000000,912.000000,7.200000,2.350000,2000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,4.200000e+09,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [11]:
#isna() - na값 알아보기
movies.isna().sum()

color                         19
director_name                102
num_critic_for_reviews        49
duration                      15
director_facebook_likes      102
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        862
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                152
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               300
budget                       484
title_year                   106
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 326
movie_facebook_likes           0
dtype: int64

In [13]:
#test_series = pd.Series([1, 3, 6, np.nan, 1])
#test_series.dropna()
#test_series = test_series.dropna() -> 이렇게 해야 dropna()가 반영됨

In [14]:
director = movies.director_name
director.value_counts().head().tail()

Steven Spielberg    26
Woody Allen         22
Martin Scorsese     20
Clint Eastwood      20
Ridley Scott        16
Name: director_name, dtype: int64

In [15]:
movies.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [16]:
col_map = {'director_name':'director',
 'num_critic_for_reviews': 'critic_reviews'}
movies.rename(columns=col_map).iloc[:, :3].head()

   color           director  critic_reviews
0  Color      James Cameron           723.0
1  Color     Gore Verbinski           302.0
2  Color         Sam Mendes           602.0
3  Color  Christopher Nolan           813.0
4    NaN        Doug Walker             NaN

In [17]:
movies.rename(columns=lambda x: x.strip().upper()).columns

Index(['COLOR', 'DIRECTOR_NAME', 'NUM_CRITIC_FOR_REVIEWS', 'DURATION',
       'DIRECTOR_FACEBOOK_LIKES', 'ACTOR_3_FACEBOOK_LIKES', 'ACTOR_2_NAME',
       'ACTOR_1_FACEBOOK_LIKES', 'GROSS', 'GENRES', 'ACTOR_1_NAME',
       'MOVIE_TITLE', 'NUM_VOTED_USERS', 'CAST_TOTAL_FACEBOOK_LIKES',
       'ACTOR_3_NAME', 'FACENUMBER_IN_POSTER', 'PLOT_KEYWORDS',
       'MOVIE_IMDB_LINK', 'NUM_USER_FOR_REVIEWS', 'LANGUAGE', 'COUNTRY',
       'CONTENT_RATING', 'BUDGET', 'TITLE_YEAR', 'ACTOR_2_FACEBOOK_LIKES',
       'IMDB_SCORE', 'ASPECT_RATIO', 'MOVIE_FACEBOOK_LIKES'],
      dtype='object')

In [18]:
movies['total_likes'] = (movies.actor_1_facebook_likes +
 movies.actor_2_facebook_likes +
 movies.actor_3_facebook_likes +
 movies.director_facebook_likes)

In [19]:
movies.total_likes

0        2791.0
1       46563.0
2       11554.0
3       95000.0
4           NaN
         ...
4911     1427.0
4912        NaN
4913        0.0
4914     2154.0
4915      141.0
Name: total_likes, Length: 4916, dtype: float64

In [20]:

# 1은 칼럼
movies.isna().sum(axis=1)

0        0
1        0
2        0
3        0
4       15
        ..
4911     4
4912     6
4913     4
4914     2
4915     0
Length: 4916, dtype: int64

In [21]:
#0은 행
movies.isna().sum(axis=0)

color                         19
director_name                102
num_critic_for_reviews        49
duration                      15
director_facebook_likes      102
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        862
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                152
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               300
budget                       484
title_year                   106
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 326
movie_facebook_likes           0
total_likes                  122
dtype: int64

In [22]:
[
 c
 for c in movies.columns
 if 'facebook' in c
]

['director_facebook_likes',
 'actor_3_facebook_likes',
 'actor_1_facebook_likes',
 'cast_total_facebook_likes',
 'actor_2_facebook_likes',
 'movie_facebook_likes']

In [23]:
movies_fb = movies[[
 c
 for c in movies.columns
 if 'facebook' in c
]]

In [24]:
# 1은 칼럼
movies_fb = movies_fb.assign(total_likes=movies_fb.sum(axis=1))
movies_fb.head()

,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,cast_total_facebook_likes,actor_2_facebook_likes,movie_facebook_likes,total_likes
0,0.0,855.0,1000.0,4834,936.0,33000,40625.0
1,563.0,1000.0,40000.0,48350,5000.0,0,94913.0
2,0.0,161.0,11000.0,11700,393.0,85000,108254.0
3,22000.0,23000.0,27000.0,106759,23000.0,164000,365759.0
4,131.0,NaN,131.0,143,12.0,0,417.0

In [25]:
movies_fb.drop(columns='total_likes').head()

,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,cast_total_facebook_likes,actor_2_facebook_likes,movie_facebook_likes
0,0.0,855.0,1000.0,4834,936.0,33000
1,563.0,1000.0,40000.0,48350,5000.0,0
2,0.0,161.0,11000.0,11700,393.0,85000
3,22000.0,23000.0,27000.0,106759,23000.0,164000
4,131.0,NaN,131.0,143,12.0,0

In [1]:
len(a.iloc[1:5, 2:4])

NameError: name 'a' is not defined